.backContainer {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.back-color {
    background-color:#ef56af;
}

.back-button-color {
    background-color: #230567;
}